@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1677639147 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677639147 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1677639147 .shape-fill {
    fill: white;
}

.custom-shape-divider-top-1677640090 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1677640090 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1677640090 .shape-fill {
    fill: white;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}